<form action="/login" method="POST">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <fieldset>
                <div class='form-group'>
                    <label for='comment-title'>We need your full name!</label><br>
                    <input class='form-control' id='user-fullname' type='text' name='name' placeholder='Your Name'/>
                </div>
                <div class='form-group'>
                    <label for='comment-content'>...And a username</label><br>
                    <textarea class='form-control' id='username' name='username' placeholder='Your username'></textarea>
                </div>
                <div class='form-group'>
                    <label for='comment-content'>......And a password</label><br>
                    <textarea class='form-control' id='password' name='password' placeholder='Your passsword'></textarea>
                </div>

                <input type="submit" class="btn btn-warning" value="Leave Review"/>
            </fieldset>
        </div>
        <div class="col-md-4"></div>

    </div>


</form>
