{% extends 'base.html' %}

{% block content %}

<!-- <h4><a href="/">Back to home</a></h4> -->
<div class="jumbotron text-center" style="background-color: #E8A87C;">
    <div class="row">
        <h1 style="color: #FFFFFF">Your Cart:</h1>
        <h5>You know you want it ;)</h5>
    </div>
</div>


<div class="container" style="background-color: #85DCB">
    <div class="row text-center" style="padding-top:20px">
        {% for product in product_list %}
        <div class="col-md-12 text-center">
            <div class="panel panel-info">
                <div class="panel-heading"><h2><a href='/store/{{ product._id }}'>{{product.name}}</a></h2></div>
                <div class="panel-body">
                    <img src="{{ product.pic_path }}" style="width: 10%">
                    <h3>{{product.description}}</h3>
                    <h5>${{product.price}}</h5>
                    <form action="/store/cart/{{ product._id }}" method="POST">
                        <input type="submit" class="btn btn-success" value="Delete from Cart" />
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
